.blog {
    &__wrapper {
        max-width: 907px;
        margin: 0 auto;
    }
    &__article {
        padding-right: 30%;
    }
    &__caption {
        margin: 0;
    }
    &-card {
        width: 48%;
    }

}
.blog-aside {
    &__link {
        display: inline-block;
        max-width: 305px;
    }
    &__card {
        width: 100%;
    }
    &__img {
        width: 287px;
        height: 192px;
    }
    &__caption {
        font-size: 19px;
    }
    &__description {

    }
}