.feedback {
    background: url(/image/png/background05.png) no-repeat;
    background-size: cover;
    &__wrapper {
        max-width: 1370px;
        margin: 0 auto;
        padding: 7rem 0.5rem 8.9375rem;
        display: flex;
        justify-content: space-between;
    }
    &__caption-block {
        width: 46%;
    }
    &__caption {
        width: 100%;
        font-family: "Geometria";
        font-style: normal;
        font-weight: 500;
        font-size: 2rem;
        line-height: 147.5%;
        text-transform: uppercase;
        color: #ffffff;
    }
    &__img-wrapper {
        max-width: 548px;
    }
    &__img {
        width: 100%;
        height: auto;
    }
    &__form-block {
        width: 51%;
        padding: 6rem 7.5rem;
        background-color: white;
    }
    &__submit-wrapper {
        margin-top: 3.3125rem;
        text-align: center;
    }
    &__submit {
        width: 100%;
        height: 88px;
    }
}
.form-submit {
    background: #3831b7;
    font-family: "Geometria";
    font-style: normal;
    font-weight: 500;
    font-size: 1.5625rem;
    line-height: 147.5%;
    text-align: center;
    color: #ffffff;
    &:hover {
        opacity: 0.8;
    }
}
.form-label {
    position: relative;
    display: inline-block;
    width: 100%;
    font-family: "Geometria";
    font-style: normal;
    font-weight: 500;
    font-size: 1.5625rem;
    line-height: 147.5%;
    text-align: left;
    padding-left: 2.4rem;
    color: #000000;
    &::before {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        width: 2.5rem;
        height: 2.2rem;
    }
}
.form-input {
    border: none;
    border-bottom: 1px solid #3831b7;
    font-family: "Geometria";
    font-style: normal;
    font-weight: normal;
    font-size: 1.375rem;
    line-height: 147.5%;
    color: rgba(0, 0, 0, 0.68);
    padding: 0.55rem 1.5rem;
    width: 100%;
}

.name-label {
    &::before {
        background: url(/image/svg/form-name-icon.svg) no-repeat;
    }
}
.phone-label {
    &[for="feedback-phone"] {
        margin-top: 2rem;
    }
    &::before {
        background: url(/image/svg/form-phone-icon.svg) no-repeat;
    }
}
#subscrible-phone,
#subscrible-coment {
    padding-top: 0;
}
@media screen and (max-width: $screen-lg) {
    .feedback__caption {
        font-size: 1.6rem;
    }
    .feedback__form-block {
        padding: 2rem 1.5rem;
    }
    .form-label {
        font-size: 1.1625rem;
    }
    .form-submit {
        font-size: 1.1625rem;
    }
}
@media screen and (max-width: $screen-md) {
    .feedback {
        &__wrapper {
            justify-content: center;
            flex-wrap: wrap;
            padding: 5.8rem 5.4rem;
        }
        &__caption-block {
            flex-basis: 100%;
        }
        &__img-wrapper {
            display: none;
        }
        &__caption {
            text-align: center;
            font-size: 2.14rem;
        }
        &__form-block {
            flex-basis: 100%;
            margin-top: 2.6rem;
            padding: 21.52% 13.27%;
        }
    }
    .form-label {
        font-size: 1.6667rem;
    }
    .form-submit {
        font-size: 1.6667rem;
    }
}
@media screen and (max-width: $screen-sd) {
    .feedback {
        &__wrapper {
            padding: 2.5rem 1.4286rem;
        }
        &__form-block {
            margin-top: 2.6rem;
            padding: 4.6429rem 2.1429rem;
        }
    }
    .form-label {
        font-size: 1.1rem;
    }
}
