.contacts {
    background: url(/image/svg/background05.svg) no-repeat;
    background-size: cover;
    &__wrapper {
        max-width: 1370px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        padding: 5.625rem 0.5rem
    }
    &__map-conteiner {
        width: 49%;
        height: auto;
    }
    &__address-wrapper {
        width: 49%;
        
    }

}
