.carousel {
    padding: 50px 0;
}

.carusel-section {
    background: url(/image/svg/background01.svg) no-repeat;
    background-size: cover;
    padding-bottom: 40px;
}
.index-carousel__slide {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;
}
.index-carousel__caption {
    display: inline-block;
    max-width: 620px;
    width: 49%;
    font-weight: normal;
    font-size: 32px;
    line-height: 127.49%;
    color: #ffffff;
    & > h2 {
        font-weight: bold;
        font-size: 59px;
        line-height: 127.49%;
    }
}
.index-carousel__image {
    &-01 {
        height: 500px;
        width: 660px;
        background: url(/image/svg/optim.svg) no-repeat;
        background-size: contain;
    }
    &-02 {
        height: 500px;
        width: 660px;
        background: url(/image/svg/optim02.svg) no-repeat;
        background-size: contain;
    }
    &-03 {
        height: 500px;
        width: 660px;
        background: url(/image/svg/index-slide03.svg) no-repeat;
        background-size: contain;
    }
}
// .carousel-indicators {
//     gap: 10px;
//     & > button {
//         width: 39px;
//         height: 39px;
//         background: url(/image/svg/carousel-selector.svg) no-repeat;
//         border: none;
//         opacity: 1;
//     }
//     & .active {
//         background: url(/image/svg/carousel-selector-active.svg) no-repeat;
        
//     }
// }
