.feedback {
    background: url(/image/png/background05.png) no-repeat;
    background-size: cover;
    &__wrapper {
        max-width: 1370px;
        margin: 0 auto;
        padding: 7rem 0.5rem 8.9375rem;
        display: flex;
        justify-content: space-between;
    }
    &__caption-block {
        width: 46%;
    }
    &__caption {
        width: 100%;
        font-family: "Geometria";
        font-style: normal;
        font-weight: 500;
        font-size: 32px;
        line-height: 147.5%;
        text-transform: uppercase;
        color: #ffffff;
    }
    &__img-wrapper {
        max-width: 548px;
    }
    &__img {
        width: 100%;
        height: auto;
    }
    &__form-block {
        width: 51%;
        padding: 6rem 7.5rem;
        background-color: white;
    }
    &__name-lable,
    &__phone-lable {
        position: relative;
        width: 100%;
        font-family: "Geometria";
        font-style: normal;
        font-weight: 500;
        font-size: 25px;
        line-height: 147.5%;
        text-align: left;
        padding-left: 2.25rem;
        color: #000000;
        &::before {
            position: absolute;
            content: "";
            top: 0;
            left: 0;
            width: 2rem;
            height: 2rem;
        }
    }
    &__name-input,
    &__phone-input {
        width: 100%;
        margin-top: 0.3125rem;
        border: none;
        border-bottom: 1px solid #3831b7;
        font-family: Geometria;
        font-style: normal;
        font-weight: normal;
        font-size: 22px;
        line-height: 147.5%;
        color: rgba(0, 0, 0, 0.68);
        padding: 1.5rem;
    }
    &__name-lable {
        &::before {
            background: url(/image/svg/index-name-icon.svg) no-repeat;
        }
    }
    &__phone-lable {
        margin-top: 2rem;
        &::before {
            background: url(/image/svg/index-phone-icon.svg) no-repeat;
        }
    }
    &__submit-wrapper {
        margin-top: 3.3125rem;
        text-align: center;
    }
    &__submit {
        width: 100%;
        height: 88px;
        background: #3831b7;
        font-family: Geometria;
        font-style: normal;
        font-weight: 500;
        font-size: 25px;
        line-height: 147.5%;
        text-align: center;
        color: #ffffff;
    }
}
