section.news {
    font-family: "Geometria";
    font-style: normal;
}
.news {
    background: url(/image/svg/background04.svg) no-repeat;
    background-position-x: right;
    &__wrapper {
        max-width: 1370px;
        margin: 0 auto;
        padding: 2.5rem 0.5rem 0;
    }
    &__caption {
        width: 100%;
        text-align: center;
        margin-bottom: 3.125rem;
    }
}
.news-card {
    width: 32%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &__wrapper {
        display: flex;
        flex-wrap: wrap;
        gap: 1.25rem;
        justify-content: space-between;
    }
    &__img {
        width: 100%;
        height: auto;
    }
    &__caption {
        width: 100%;
        font-family: "Geometria";
        font-style: normal;
        font-weight: 500;
        font-size: 1.4375rem;
        line-height: 147.5%;
        text-transform: uppercase;
        color: #000000;
    }
    &__description {
        font-family: "Geometria";
        font-style: normal;
        font-weight: normal;
        font-size: 1.5rem;
        line-height: 147.5%;
        color: #000000;
    }
}

a.news-card__link {
    font-family: "Geometria";
    font-style: normal;
    font-weight: 500;
    font-size: 1.4375rem;
    line-height: 147.5%;
    text-decoration-line: underline;
    color: #0a02a7;
}
a.news__button {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 27.625rem;
    height: 6.875rem;
    background: linear-gradient(0deg, #3831b7, #3831b7), #01013d;
    font-family: "Geometria";
    font-style: normal;
    font-weight: normal;
    font-size: 2rem;
    line-height: 147.5%;
    color: #ffffff;
    &:hover {
        opacity: 0.8;
    }
}
.news__button-wrapper {
    width: 100%;
    margin: 3.125rem 0 7rem;
}
@media screen and (max-width: $screen-lg) {
    a.news__button {
        font-size: 1.7rem;
    }
    .news-card {
        &__wrapper {
            gap: 0.5rem;
            justify-content: space-evenly;
        }
        &__caption {
            font-size: 1rem;
        }
        &__description {
            font-size: 1rem;
        }
    }
}
@media screen and (max-width: $screen-md) {
    .news-card {
        width: 100%;
        max-width: 443px;
        &__wrapper {
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            gap: 3.125rem;
        }
        &__caption {
            font-size: 1.4375rem;
        }
        &__description {
            font-size: 1.5rem;
        }
    }
    a.news-card__link {
        font-size: 1.4375rem;
    }
    .news__caption {
        font-size: 2.4375rem;
    }
}
