.portfolio {
    background: white url(/image/png/background04.png) no-repeat;
    &__wrapper {
        max-width: 1370px;
        margin: 0 auto;
        padding: 5rem 0.5rem 0;
    }
    &__caption {
        font-family: "Geometria";
        font-style: normal;
        font-weight: 500;
        font-size: 2.4375rem;
        line-height: 147.5%;
        text-align: center;
        color: #000000;
    }
    &__slide-text-block {
        display: inline-block;
        width: 48%;
    }
    &__slide-caption {
        max-width: 436px;
        font-family: "Geometria";
        font-style: normal;
        font-weight: bold;
        font-size: 2rem;
        line-height: 147.5%;
        text-transform: uppercase;
        color: #000000;
    }
    &__slide-description {
        max-width: 436px;
        font-family: "Geometria";
        font-style: normal;
        font-weight: normal;
        font-size: 1.5rem;
        line-height: 147.5%;
        color: #000000;
    }
    &-carousel__image {
        &-01 {
            width: 598px;
            height: 483px;
            background: url(/image/png/slide02-01.png) no-repeat;
            background-size: contain;
            background-position: center center;
        }
        &-02 {
            width: 598px;
            height: 483px;
            background: url(/image/png/slide02-02.png) no-repeat;
            background-size: contain;
            background-position: center center;
        }
        &-03 {
            width: 598px;
            height: 483px;
            background: url(/image/png/slide02-03.png) no-repeat;
            background-size: contain;
            background-position: center center;
        }
    }
}
div.carousel-item {
    padding: 0 80px;
}
button.carousel-control-next {
    justify-content: flex-end;
}
span.carousel-control-next-icon {
    width: 2.3rem;
    height: 4.5rem;
    background: url(/image/svg/index-next-btn.svg) no-repeat;
    background-size: cover;
}
button.carousel-control-prev {
    justify-content: flex-start;
}
span.carousel-control-prev-icon {
    width: 2.3rem;
    height: 4.5rem;
    background: url(/image/svg/index-prev-btn.svg) no-repeat;
    background-size: cover;
}
