.modal {
    &__cross {
        @media screen and (max-width: $screen-md) {
            top: 1.4rem;
            right: 1.4rem;
        }
        width: 29px;
        height: 29px;
        position: absolute;
        top: 2.5rem;
        right: 2.5rem;
        cursor: pointer;
        &:before,
        &:after {
            content: "";
            position: absolute;
            z-index: 1;
            background: black;
        }
        &:before {
            top: -5px;
            left: 12px;
            width: 2px;
            height: 140%;
            transform: rotate(45deg);
        }
        &:after {
            top: -5px;
            left: 12px;
            height: 140%;
            width: 2px;
            transform: rotate(-45deg);
        }
    }
}
.request {
    &__form {
        @media screen and (max-width: $screen-md) {
            width: 100%;
            justify-content: center;
            padding: 2.5rem 1.6rem;

        }
        position: relative;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 1093px;
        box-shadow: 0px 10px 55px rgba(0, 0, 0, 0.19);
        padding: 6.5rem 4.6rem;
        background-color: white;
    }
    &__title {
        @media screen and (max-width: $screen-md) {
            font-size: 1.5rem;
        }
        width: 100%;
        text-align: center;
        font-family: "Geometria";
        font-style: normal;
        font-weight: 500;
        font-size: 2.4375rem;
        line-height: 147.5%;
    }
    // &__check-dist,
    // &__check-size {
    //     display: none;
    // }
    // &__label {
    //     @media screen and (max-width: $screen-md) {
    //         font-size: 1.3rem;
    //     }
    //     position: relative;
    //     font-family: "Geometria";
    //     font-style: normal;
    //     font-weight: normal;
    //     font-size: 1.6875rem;
    //     line-height: 147.5%;
    //     padding-left: 4.0625rem;
    //     margin-bottom: 2.3125rem;
    //     &::before {
    //         position: absolute;
    //         content: "";
    //         top: 0;
    //         left: 0;
    //         width: 39px;
    //         height: 39px;
    //         border: 3px solid #352eac;
    //         box-sizing: border-box;
    //     }
    // }
    // &__check-dist:checked + label::before,
    // &__check-size:checked + label::before {
    //     background: url(../image/svg/check.svg) no-repeat;
    //     background-position: 2px;
    // }
    &__submit {
        @media screen and (max-width: $screen-md) {
            font-size: 1.2rem;
            width: 100%;
        }
        width: 40.71%;
        height: 88px;
        background: #3831b7;
        font-family: "Geometria";
        font-style: normal;
        font-weight: 500;
        font-size: 1.5625rem;
        line-height: 147.5%;
        text-align: center;
        color: #ffffff;
        margin: 2rem auto 0;
    }
}
// .column {
//     &__caption {
//         width: 100%;
//         font-family: "Geometria";
//         font-style: normal;
//         font-weight: 500;
//         font-size: 1.875rem;
//         line-height: 147.5%;
//     }
//     &__wrapper {
//         @media screen and (max-width: $screen-md) {
//             width: 100%;
//         }
//         width: 48%;
//     }
// }
// .dist-column {
//     &__wrapper {
//         display: grid;
//         grid-template-columns: repeat(2, 1fr);
//         grid-template-rows: auto;
//     }
//     &__caption {
//         grid-column: 1 / 3;
//     }
// }
// .size-column {
//     &__wrapper {
//         display: grid;
//         grid-template-columns: 1fr;
//         grid-template-rows: auto;
//     }
//     &__caption {
//         height: 93.32px;
//         display: inline-block;
//     }
// }
.request__data {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 2rem;
}
.phone-label[for="request-phone"] {
    height: auto;
}
.response {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    min-width: 30%;
    min-height: 50vh;
    padding: 15px;
    background: white;
    border: 1px solid black;
    &__header {
        text-align: center;
    }
    &__button {
        display: block;
        min-width: 40.71%;
        height: 3rem;
        padding: 20px;
        background: #3831b7;
        font-family: "Geometria";
        font-style: normal;
        font-weight: 500;
        font-size: 1.5625rem;
        line-height: 13.5%;
        text-align: center;
        color: #ffffff;
        margin: 2rem auto 0;
    }
}
.request__wrapper {
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.request_metric-select-group {
    max-width: 200px;
    margin-left: auto;
}
input[name="metric"] {
    margin-right: 10px;
}
.range__width-wrapper,
.range__height-wrapper,
.pixel-size-wrrapper {
    flex-basis: 100%;
    margin: 40px 0;
}
input[type="range"] {
    width: 60%;
}
.pixel-size-wrrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}