.site-header {
    background: url(/image/svg/background-header.svg) no-repeat;
    background-size: cover;
}
.header {
    &-wrapper {
        max-width: 1400px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px;
    }
    &__navigation {
        flex-grow: 2;
    }
}
.navigation {
    &__list {
        display: flex;
        justify-content: space-around;
        & .navigation__item-link {
            font-family: "Geometria";
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 25px;
            color: $white;
        }
    }
    &__item {
        display: inline-block;
        list-style: none;
    }
}
.phone {
    &__icon {
        width: 23px;
        height: 23px;
        padding: 7px 0;
        background: url(/image/svg/header-phone-icon.svg) no-repeat;
    }
    &__number {
        display: inline-block;
        // width: 0;
        // height: 0;
        // overflow: hidden;
        font-family: "Geometria";
        font-style: normal;
        font-style: normal;
        font-weight: 500;
        font-size: 25px;
        line-height: 31px;
        color: $white;
        margin-left: 27px;
    }
}
.product {
    position: relative;
    &__navigation {
        position: absolute;
        top: 2rem;
        left: -2.2rem;
        width: max-content;
        padding: 0;
        background-color: $white;
        height: 0;
        overflow: hidden;
        transition: 0.5s;
        &_show,
        &:hover {
            padding: 0.5rem;
            height: auto;
        }
    }
    &:hover > ul {
        padding: 0.5rem;
        height: auto;
    }
    &__item {
        list-style: none;
        & > .product__item-link {
            font-family: "Geometria";
            font-style: normal;
            font-weight: normal;
            font-size: 17px;
            line-height: 147.5%;
            text-align: center;
        }
        &:hover {
            background-color: #f2f2f2;
        }
    }
}
