.site-header {
    background: url(/image/svg/background-blue.svg) no-repeat;
    background-size: cover;
    
}
.header {
    &-wrapper {
        max-width: 1400px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__navigation {
        flex-grow: 2;
    }
    
}
.navigation {
    &__list {
        display: flex;
        justify-content: space-around;
    }
    &__item {
        display: inline-block;
        list-style: none;
    }
}
.phone {
    &__icon {
        width: 23px;
        height: 23px;
        background: url(/image/svg/header-phone-icon.svg) no-repeat;
    }
}