.site-header {
    padding: 0.4rem 0;
    background: linear-gradient(
            90deg,
            #0101ed -0.94%,
            #1d0167 55.95%,
            #200041 103.05%
        ),
        #c4c4c4;
}
.header,
.footer {
    &-wrapper {
        position: relative;
        max-width: 1400px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px;
    }
    &__navigation {
        flex-grow: 2;
    }
}
.logo-wrapper {
    width: 11.3125rem;
    z-index: 4;
    & > img {
        width: 100%;
    }
}
.navigation {
    &__list {
        display: flex;
        justify-content: space-around;
        margin: 0;
        & .navigation__item-link {
            font-family: "Geometria";
            font-style: normal;
            font-weight: 500;
            font-size: 1.25rem;
            line-height: 25px;
            color: $white;
        }
    }
    &__item {
        display: inline-block;
        list-style: none;
        text-align: center;
        padding: 0.5rem;
    }
}
.phone {
    &__icon {
        width: 23px;
        height: 23px;
        padding: 7px 0;
        background: url(/image/svg/header-phone-icon.svg) no-repeat;
    }
    &__number {
        display: inline-block;
        font-family: "Geometria";
        font-style: normal;
        font-weight: 500;
        font-size: 1.5625rem;
        line-height: 31px;
        color: $white;
        margin-left: 27px;
    }
}
@media screen and (min-width: $screen-lg+1) {
    .product {
        &:hover > ul {
            padding: 0.5rem 4rem 0.5rem 1rem;
            height: auto;
        }
    }
}
.product {
    position: relative;
    padding-right: 1rem;
    &__navigation {
        position: absolute;
        top: 2rem;
        left: -2.2rem;
        width: max-content;
        background-color: $white;
        overflow: hidden;
        transition: 0.5s;
        z-index: 1;
        height: auto;
        padding: 0.5rem 4rem 0.5rem 1rem;
        &_hidden {
            height: 0;
            padding: 0;
        }
    }
    &__item {
        list-style: none;
        padding: 0.25rem 0;
        
        & > .product__item-link {
            font-family: "Geometria";
            font-style: normal;
            font-weight: normal;
            font-size: 1.0625rem;
            line-height: 147.5%;
            text-align: center;
        }
        &:hover {
            background-color: #f2f2f2;
        }
    }
    &::after {
        position: absolute;
        top: 20px;
        right: 0;
        content: "";
        width: 10px;
        height: 10px;
        background: url(/image/svg/list-icon.svg) no-repeat;
    }
}

.burger-menu {
    display: none;
    position: relative;
    z-index: 4;
    width: 48px;
    height: 28px;
    right: -3px;
    & > span {
        position: absolute;
        top: 14px;
        width: 100%;
        height: 1px;
        background-color: $white;
    }
    &::before {
        top: 0;
        width: 100%;
    }
    &::after {
        right: 0;
        bottom: 0;
        width: 50%;
    }
    &::before,
    &::after {
        position: absolute;
        content: "";
        height: 1px;
        background-color: $white;
        transition: 0.2s;
    }
    &_checked > span {
        height: 0;
    }
    &_checked::before {
        transform: rotate(45deg);
        transform-origin: 10%;
    }
    &_checked::after {
        transform: rotate(-45deg);
        transform-origin: 10%;
    }
    &_checked::before,
    &_checked::after {
        background-color: $white;
        transition: 0.2s;
        width: 100%;
    }
}
@media screen and(max-width: $screen-xl) {
    html {
        font-size: 14px;
    }
    .header__phone {
        min-width: 180px;
    }
    .phone {
        &__number {
            font-size: 1rem;
            line-height: 31px;
        }
    }
}
@media screen and(max-width: $screen-lg) {
    .header {
        &-wrapper {
            padding: 0.3125rem 2rem;
        }
        &__navigation {
            position: absolute;
            z-index: 3;
            top: 0;
            left: 0;
            width: 100%;
            height: 100vh;
            background: url(/image/png/background01.png) no-repeat;
            background-size: cover;
            overflow-y: auto;
            transition: 0.5s;
            &_hidden {
                height: 0;
                overflow-y: hidden;
            }
            & > .navigation {
                &__list {
                    height: 100%;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    padding: 0;
                    
                }
            }
        }
    }
    .product {
        &__navigation {
            position: static;
            height: 261px;
            margin: 0;
            padding: 0;
            background: transparent;
            color: white;
            text-align: center;
            &_hidden {
                height: 0;
                transition: 0.5s;
            }
        }
        &__item:hover {
            background-color: #3b57b671;
        }
    }
    .burger-menu {
        display: block;
        cursor: pointer;
    }
}
