.site-footer {
    max-width: 1920px;
    padding-bottom: 2.125rem;

    background: linear-gradient(
            90deg,
            #0101ed -0.94%,
            #1d0167 55.95%,
            #200041 103.05%
        ),
        #c4c4c4;
}
.footer__designed-logo-wrapper {
    text-align: center;
}
.designed-logo {
    position: relative;
    font-family: "Gilroy";
    font-style: normal;
    font-weight: normal;
    font-size: 0.9375rem;
    line-height: 17px;
    color: #ffffff;
    &::after {
        position: absolute;
        content: "";
        width: 37px;
        height: 23px;
        top: -0.5rem;
        right: -3rem;
        background: url(/image/svg/designed-logo.svg) no-repeat;
        background-size: cover;
    }
}
.header__navigation > .header__phone {
    display: none;
}
@media screen and (max-width: $screen-md) {

    .footer__navigation {
        display: none;
    }
    .phone__number {
        font-size: 1.1667rem;
    }
    .header-wrapper,
    .footer-wrapper {
        padding: 2rem 2.6rem;
    }
}
@media screen and (max-width: $screen-sd) {
    .phone__number {
        font-size: 1.6667rem;
    }
    .header__navigation > .header__phone {
        position: absolute;
        bottom: 2.643rem;
        left: 0;
        display: inline-block;
        width: 100%;
        text-align: center;
        font-size: 1.7857rem;
    }
}