html {
    box-sizing: border-box;
    background-color: #d4d4d4;
    font-family: "Geometria";
    font-style: normal;
}
html > body {
    max-width: 1920px;
    margin: 0 auto;
    overflow: auto;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}
a,
a:visited,
a:active {
    text-decoration: none;
    color: inherit;
}

